body {
    /*This seems to be common place*/
    margin: 0;
}
#titleText {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
}

#upperHeader {
    
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    
}

#navBar {
    background-color: orange;
    text-align: center;
    text-decoration: none;
    /*You would've done this anyways*/
    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    
    
    
    
    
}
